<div class="container">
    <div class="search_bar">
        <input type="text" class="input" placeholder="Buscar personaje...">
    </div>
    <div class="cards-container">
        <div class="card" *ngFor="let heroe of heroes | slice:0:20">
            <mat-spinner color="primary" *ngIf="heroesLoad"></mat-spinner>
            <img [src]="heroe.images.md" alt="" *ngIf="!heroesLoad"  [routerLink]="['/',heroe.id]">
            <div class="text" *ngIf="!heroesLoad">
                <h4>{{heroe.name}}</h4>
                <p>Inteligence: {{heroe.powerstats.intelligence}}</p>
                <p>Speed: {{heroe.powerstats.speed}}</p>
                <p>Power: {{heroe.powerstats.power}}</p>
                <p>Gender: {{heroe.appearance.gender}}</p>
                <p>Race: {{heroe.appearance.race}}</p>
            </div>
        </div>
    </div>
</div>