<div class="container">
    <div class="search_bar">
        <input type="text" class="input" placeholder="Buscar personaje...">
    </div>
    <div class="cards-container">
        <div class="card" *ngFor="let heroe of heroes | slice:0:9">
            <img [src]="heroe.images.md" alt="">
            <div class="text">
                <h4>{{heroe.name}}</h4>
                <p>Inteligence: {{heroe.powerstats.intelligence}}</p>
                <p>Speed: {{heroe.powerstats.speed}}</p>
                <p>Power: {{heroe.powerstats.power}}</p>
                <p>Gender: {{heroe.appearance.gender}}</p>
                <p>Race: {{heroe.appearance.race}}</p>
            </div>
        </div>
    </div>
</div>